/frontend/frontend/node_modules/
/frontend/node_modules/
/frontend/package-lock.json
/frontend/package.json
/frontend/frontend/package-lock.json
/frontend/frontend/package.json
/backend/socialMedia/__pycache__/
/backend/socialMedia/migrations/
/backend/backend/__pycache__/
/backend/.env