@media (max-width: 1024px) {
    .posts {
        padding-left: 0;
        padding-right: 0;
    }
    .back-button {
        margin-left: 15px;
    }
    .comments-text{
        margin-left: 15px;
    }
}