@media (max-width: 1024px) {
    .user {
        padding: 40px;
    }
    .post-text{
        padding-bottom: 20px;
    }
    .post-area{
        padding-left: 10px;
        padding-right: 10px;
    }
}