@media (max-width:1024px) {
    .notifications {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
    .notification{
        margin-left: 20px;
        margin-right: 20px;
    }
}