@media (max-width: 1024px) {
    .date {
        display: none;
    }
    .post {
        padding: 0 10px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-top: 2px;
    }
    .content {
        padding: 0px;
        padding-top: 2px;
        padding-bottom: 10px;
    }
    .likes-comments{
        margin-top: 5px;
    }
}